<div class="container mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-6 col-md-6">
      <div class="text-center my-5">
        <img src="../public/images/share.png" class="img-fluid" alt="Responsive image"
          style="max-width:100px; max-height:100px">
      </div>
      <h3 class="text-center mb-5"> Broadcast Login </h3>
      <form id="user-login-form" action="{{action}}" method="{{method}}">
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary redbutton">Submit</button>
        </div>
        <div class="text-center mt-3">
          <small> New User?? <a href="/signup">Sign Up</a></small>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const $loginForm = document.querySelector("#user-login-form");

  $loginForm.addEventListener("submit", (event) => {
    event.preventDefault();

    const submitUrl = $loginForm.action;
    const submitMethod = $loginForm.method;
    const formData = new FormData($loginForm);
    let loginDetails = {};
    for (const fields of formData.entries()) {
      const [key, value] = fields;
      loginDetails[key] = value;
    }

    const config = {
      method: submitMethod.toUpperCase(),
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(loginDetails)
    }

    fetch(submitUrl, config)
      .then(response => {
        if (response.status === 200) {
          return response.json()
        } else {
          throw (new Error(response.status))
        }
      })
      .then((data) => {
        window.location.href = "/myPosts"
      })
      .catch(error => {
        switch (error.message) {
          case "401":
          case "400":
            alert("Please enter correct username and password");
            break;
          case "500":
            alert("Please Try after some time...");
            break;
          default:
            console.error(error);
        }
      })
  })
</script>